<div class="flex flex-col m-auto p-auto">
    <div class="custom-shape-divider-top-1645399211">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none"
            class="fill-stone-100 bg-transparent">
            <path
                d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
                class="shape-fill"></path>
        </svg>
    </div>
    <div class="bg-stone-100">
        <h1 class="flex py-5 lg:px-20 md:px-10 px-5 lg:mx-40 md:mx-20 mx-5 font-bold text-4xl text-gray-800">
            Projects
        </h1>
        <div class="flex overflow-x-scroll md:overflow-auto snap-x snap-mandatory  bg-stone-100">
            <div class="grid grid-flow-col pb-5  mt-3 ">
                <div class="snap-center px-3 flex basis-full justify-between">
                    <div
                        class="w-[150rem] max-w-xs lg:max-w-md overflow-hidden rounded-lg shadow-gray-600 hover:shadow-gray-700 shadow-[0_0px_10px_0px_rgba(0,0,0,0.1)] bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out pb-2 flex basis-custom justify-between flex-col">
                        <div class="hover:skew-y-3 duration-300 ease-in-out transition-transform">
                            <%- image_tag("images/screenshots/forounov1.png", {alt:"GNUno Talks", height:"230", width: "448", class:"hover:skew-y-3 duration-300 ease-in-out transition-transform"}) %>
                        </div>
                        <div class="container px-3 ">
                            <h3 class="text-lg font-semibold">ForoUNO</h3>
                            <p>Website oriented to allow students to share material of the university subjects.</p>
                        </div>
                        <div class="flex items-center justify-center gap-3">
                            <a href="https://forouno.org/" class="float-right mr-1">
                                <button
                                    class="flex items-center justify-center px-4 py-2 space-x-3 text-gray-600 transition-colors duration-200 transform border rounded-full lg:w-auto hover:bg-gray-100  focus:outline-none">
                                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24" fill="currentColor">
                                        <path
                                            d="M16.949 7.051c.39.389.391 1.022.001 1.413l-8.485 8.486c-.392.391-1.023.391-1.414 0-.39-.39-.39-1.021.001-1.412l8.485-8.488c.39-.39 1.024-.387 1.412.001zm-5.805 10.043c-.164.754-.541 1.486-1.146 2.088l-1.66 1.66c-1.555 1.559-3.986 1.663-5.413.235-1.429-1.428-1.323-3.857.234-5.413l1.661-1.663c.603-.601 1.334-.98 2.087-1.144l1.934-1.934c-1.817-.306-3.829.295-5.313 1.783l-1.662 1.661c-2.342 2.34-2.5 5.978-.354 8.123 2.145 2.146 5.783 1.985 8.123-.354l1.66-1.66c1.486-1.487 2.089-3.496 1.783-5.314l-1.934 1.932zm3.222-15.231l-1.66 1.66c-1.486 1.488-2.089 3.499-1.783 5.317l1.935-1.935c.162-.753.54-1.485 1.146-2.087l1.66-1.66c1.556-1.559 3.984-1.663 5.413-.234 1.429 1.427 1.324 3.857-.233 5.415l-1.66 1.66c-.602.603-1.334.981-2.089 1.145l-1.934 1.934c1.818.306 3.827-.295 5.317-1.783l1.658-1.662c2.34-2.339 2.498-5.976.354-8.121-2.145-2.146-5.78-1.987-8.124.351z" />
                                    </svg>
                                    <span class="font-semibold">Link</span>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="snap-center flex basis-full justify-between px-3">
                    <div
                        class="w-[150rem] max-w-xs lg:max-w-md overflow-hidden rounded-lg shadow-gray-600 hover:shadow-gray-700 shadow-[0_0px_10px_0px_rgba(0,0,0,0.1)] bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out pb-2 flex basis-custom justify-between flex-col">
                        <div class="hover:skew-y-3 duration-300 ease-in-out transition-transform">
                        <%- image_tag("images/screenshots/rust-arg.png", {alt:"GNUno Talks", height:"230", width: "448"}) %>
                    </div>
                        <div class="container px-3">
                            <h3 class="text-lg font-semibold">Rust Argentina</h3>
                            <p>Website of the community of Rust in Argentina.</p>
                        </div>
                        <div class="flex items-center justify-center gap-3">
                            <a href="https://github.com/rust-lang-ar/rust-lang-ar.github.io">
                                <button type="button"
                                    class="flex items-center justify-center px-4 py-2 space-x-3 bg-gray-100 text-gray-600  rounded-2xl"
                                    aria-label="SeeDemoButton">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="currentColor" font-size="1.3rem" aria-hidden="true" focusable="false">
                                        <path
                                            d="M6,6A2,2,0,0,1,8,4,1,1,0,0,0,8,2,4,4,0,0,0,4,6V9a2,2,0,0,1-2,2,1,1,0,0,0,0,2,2,2,0,0,1,2,2v3a4,4,0,0,0,4,4,1,1,0,0,0,0-2,2,2,0,0,1-2-2V15a4,4,0,0,0-1.38-3A4,4,0,0,0,6,9Zm16,5a2,2,0,0,1-2-2V6a4,4,0,0,0-4-4,1,1,0,0,0,0,2,2,2,0,0,1,2,2V9a4,4,0,0,0,1.38,3A4,4,0,0,0,18,15v3a2,2,0,0,1-2,2,1,1,0,0,0,0,2,4,4,0,0,0,4-4V15a2,2,0,0,1,2-2,1,1,0,0,0,0-2Z">
                                        </path>
                                    </svg>
                                    <span class="font-semibold">Code</span>
                                </button>
                            </a>
                            <a href="https://rust-lang-ar.github.io/" class="float-right mr-1">
                                <button
                                    class="flex items-center justify-center px-4 py-2 space-x-3 text-gray-600 transition-colors duration-200 transform border rounded-full lg:w-auto hover:bg-gray-100  focus:outline-none">
                                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24" fill="currentColor">
                                        <path
                                            d="M16.949 7.051c.39.389.391 1.022.001 1.413l-8.485 8.486c-.392.391-1.023.391-1.414 0-.39-.39-.39-1.021.001-1.412l8.485-8.488c.39-.39 1.024-.387 1.412.001zm-5.805 10.043c-.164.754-.541 1.486-1.146 2.088l-1.66 1.66c-1.555 1.559-3.986 1.663-5.413.235-1.429-1.428-1.323-3.857.234-5.413l1.661-1.663c.603-.601 1.334-.98 2.087-1.144l1.934-1.934c-1.817-.306-3.829.295-5.313 1.783l-1.662 1.661c-2.342 2.34-2.5 5.978-.354 8.123 2.145 2.146 5.783 1.985 8.123-.354l1.66-1.66c1.486-1.487 2.089-3.496 1.783-5.314l-1.934 1.932zm3.222-15.231l-1.66 1.66c-1.486 1.488-2.089 3.499-1.783 5.317l1.935-1.935c.162-.753.54-1.485 1.146-2.087l1.66-1.66c1.556-1.559 3.984-1.663 5.413-.234 1.429 1.427 1.324 3.857-.233 5.415l-1.66 1.66c-.602.603-1.334.981-2.089 1.145l-1.934 1.934c1.818.306 3.827-.295 5.317-1.783l1.658-1.662c2.34-2.339 2.498-5.976.354-8.121-2.145-2.146-5.78-1.987-8.124.351z" />
                                    </svg>
                                    <span class="font-semibold">Link</span>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="snap-center flex basis-full justify-between px-3">
                    <div
                        class="w-[150rem] max-w-xs lg:max-w-md overflow-hidden rounded-lg shadow-gray-600 hover:shadow-gray-700 shadow-[0_0px_10px_0px_rgba(0,0,0,0.1)] bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out pb-2 flex basis-custom justify-between flex-col">
                        <div class="hover:skew-y-3 duration-300 ease-in-out transition-transform">
                        <%- image_tag("images/screenshots/veloren.png", {alt:"GNUno Talks", height:"230", width: "448"}) %>
                        </div>
                        <div class="container px-3">
                            <h3 class="text-lg font-semibold">Veloren</h3>
                            <p>Website of the Veloren, a videogame of the community.</p>
                        </div>
                        <div class="flex items-center justify-center gap-3">
                            <a href="https://gitlab.com/veloren/site">
                                <button type="button"
                                    class="flex items-center justify-center px-4 py-2 space-x-3 bg-gray-100 text-gray-600  rounded-2xl"
                                    aria-label="SeeDemoButton">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="currentColor" font-size="1.3rem" aria-hidden="true" focusable="false">
                                        <path
                                            d="M6,6A2,2,0,0,1,8,4,1,1,0,0,0,8,2,4,4,0,0,0,4,6V9a2,2,0,0,1-2,2,1,1,0,0,0,0,2,2,2,0,0,1,2,2v3a4,4,0,0,0,4,4,1,1,0,0,0,0-2,2,2,0,0,1-2-2V15a4,4,0,0,0-1.38-3A4,4,0,0,0,6,9Zm16,5a2,2,0,0,1-2-2V6a4,4,0,0,0-4-4,1,1,0,0,0,0,2,2,2,0,0,1,2,2V9a4,4,0,0,0,1.38,3A4,4,0,0,0,18,15v3a2,2,0,0,1-2,2,1,1,0,0,0,0,2,4,4,0,0,0,4-4V15a2,2,0,0,1,2-2,1,1,0,0,0,0-2Z">
                                        </path>
                                    </svg>
                                    <span class="font-semibold">Code</span>
                                </button>
                            </a>
                            <a href="https://veloren.net/" class="float-right mr-1">
                                <button
                                    class="flex items-center justify-center px-4 py-2 space-x-3 text-gray-600 transition-colors duration-200 transform border rounded-full lg:w-auto hover:bg-gray-100  focus:outline-none">
                                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24" fill="currentColor">
                                        <path
                                            d="M16.949 7.051c.39.389.391 1.022.001 1.413l-8.485 8.486c-.392.391-1.023.391-1.414 0-.39-.39-.39-1.021.001-1.412l8.485-8.488c.39-.39 1.024-.387 1.412.001zm-5.805 10.043c-.164.754-.541 1.486-1.146 2.088l-1.66 1.66c-1.555 1.559-3.986 1.663-5.413.235-1.429-1.428-1.323-3.857.234-5.413l1.661-1.663c.603-.601 1.334-.98 2.087-1.144l1.934-1.934c-1.817-.306-3.829.295-5.313 1.783l-1.662 1.661c-2.342 2.34-2.5 5.978-.354 8.123 2.145 2.146 5.783 1.985 8.123-.354l1.66-1.66c1.486-1.487 2.089-3.496 1.783-5.314l-1.934 1.932zm3.222-15.231l-1.66 1.66c-1.486 1.488-2.089 3.499-1.783 5.317l1.935-1.935c.162-.753.54-1.485 1.146-2.087l1.66-1.66c1.556-1.559 3.984-1.663 5.413-.234 1.429 1.427 1.324 3.857-.233 5.415l-1.66 1.66c-.602.603-1.334.981-2.089 1.145l-1.934 1.934c1.818.306 3.827-.295 5.317-1.783l1.658-1.662c2.34-2.339 2.498-5.976.354-8.121-2.145-2.146-5.78-1.987-8.124.351z" />
                                    </svg>
                                    <span class="font-semibold">Link</span>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="snap-center flex basis-full justify-between px-3">
                    <div
                        class="w-[150rem] max-w-xs lg:max-w-md overflow-hidden rounded-lg shadow-gray-600 hover:shadow-gray-700 shadow-[0_0px_10px_0px_rgba(0,0,0,0.1)] bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out pb-2 flex basis-custom justify-between flex-col">
                        <div class="hover:skew-y-3 duration-300 ease-in-out transition-transform">
                        <%- image_tag("images/screenshots/querelo.png", {alt:"GNUno Talks", height:"230", width: "448"}) %>
                        </div>
                        <div class="container px-3">
                            <h3 class="text-lg font-semibold">Querelo</h3>
                            <p>A platform to management of clients.</p>
                        </div>
                        <div class="flex items-center justify-center gap-3">
                            <a href="https://play.google.com/store/apps/details?id=com.querelo">
                                <button type="button"
                                    class="flex items-center justify-center px-4 py-2 space-x-3 background-playstore text-gray-600  rounded-2xl"
                                    aria-label="SeeAppButton"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                        height="24" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"
                                        focusable="false">
                                        <path
                                            d="M18.54,9,8.88,3.46a3.42,3.42,0,0,0-5.13,3V17.58A3.42,3.42,0,0,0,7.17,21a3.43,3.43,0,0,0,1.71-.46L18.54,15a3.42,3.42,0,0,0,0-5.92Zm-1,4.19L7.88,18.81a1.44,1.44,0,0,1-1.42,0,1.42,1.42,0,0,1-.71-1.23V6.42a1.42,1.42,0,0,1,.71-1.23A1.51,1.51,0,0,1,7.17,5a1.54,1.54,0,0,1,.71.19l9.66,5.58a1.42,1.42,0,0,1,0,2.46Z">
                                        </path>
                                    </svg>
                                    <span class="font-semibold">App</span>
                                </button>
                            </a>
                            <a href="https://querelo.com/" class="float-right mr-1">
                                <button
                                    class="flex items-center justify-center px-4 py-2 space-x-3 text-gray-600 transition-colors duration-200 transform border rounded-full lg:w-auto hover:bg-gray-100  focus:outline-none">
                                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24" fill="currentColor">
                                        <path
                                            d="M16.949 7.051c.39.389.391 1.022.001 1.413l-8.485 8.486c-.392.391-1.023.391-1.414 0-.39-.39-.39-1.021.001-1.412l8.485-8.488c.39-.39 1.024-.387 1.412.001zm-5.805 10.043c-.164.754-.541 1.486-1.146 2.088l-1.66 1.66c-1.555 1.559-3.986 1.663-5.413.235-1.429-1.428-1.323-3.857.234-5.413l1.661-1.663c.603-.601 1.334-.98 2.087-1.144l1.934-1.934c-1.817-.306-3.829.295-5.313 1.783l-1.662 1.661c-2.342 2.34-2.5 5.978-.354 8.123 2.145 2.146 5.783 1.985 8.123-.354l1.66-1.66c1.486-1.487 2.089-3.496 1.783-5.314l-1.934 1.932zm3.222-15.231l-1.66 1.66c-1.486 1.488-2.089 3.499-1.783 5.317l1.935-1.935c.162-.753.54-1.485 1.146-2.087l1.66-1.66c1.556-1.559 3.984-1.663 5.413-.234 1.429 1.427 1.324 3.857-.233 5.415l-1.66 1.66c-.602.603-1.334.981-2.089 1.145l-1.934 1.934c1.818.306 3.827-.295 5.317-1.783l1.658-1.662c2.34-2.339 2.498-5.976.354-8.121-2.145-2.146-5.78-1.987-8.124.351z" />
                                    </svg>
                                    <span class="font-semibold">Link</span>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="snap-center flex basis-full justify-between px-3">
                    <div
                        class="w-[150rem] max-w-xs lg:max-w-md overflow-hidden rounded-lg shadow-gray-600 hover:shadow-gray-700 shadow-[0_0px_10px_0px_rgba(0,0,0,0.1)] bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out pb-2 flex basis-custom justify-between flex-col">
                        <div class="hover:skew-y-3 duration-300 ease-in-out transition-transform">
                        <%- image_tag("images/screenshots/gnutalks.png", {alt:"GNUno Talks", height:"230", width: "448"}) %>
                        </div>
                        <div class="container px-3">
                            <h3 class="text-lg font-semibold">GNUno Talks</h3>
                            <p>A website to management futures talks of this community.</p>
                        </div>
                        <div class="flex items-center justify-center gap-3">
                            <a href="https://github.com/gnuno/gnuno-talks">
                                <button type="button"
                                    class="flex items-center justify-center px-4 py-2 space-x-3 bg-gray-100 text-gray-600  rounded-2xl"
                                    aria-label="SeeDemoButton">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="currentColor" font-size="1.3rem" aria-hidden="true" focusable="false">
                                        <path
                                            d="M6,6A2,2,0,0,1,8,4,1,1,0,0,0,8,2,4,4,0,0,0,4,6V9a2,2,0,0,1-2,2,1,1,0,0,0,0,2,2,2,0,0,1,2,2v3a4,4,0,0,0,4,4,1,1,0,0,0,0-2,2,2,0,0,1-2-2V15a4,4,0,0,0-1.38-3A4,4,0,0,0,6,9Zm16,5a2,2,0,0,1-2-2V6a4,4,0,0,0-4-4,1,1,0,0,0,0,2,2,2,0,0,1,2,2V9a4,4,0,0,0,1.38,3A4,4,0,0,0,18,15v3a2,2,0,0,1-2,2,1,1,0,0,0,0,2,4,4,0,0,0,4-4V15a2,2,0,0,1,2-2,1,1,0,0,0,0-2Z">
                                        </path>
                                    </svg>
                                    <span class="font-semibold">Code</span>
                                </button>
                            </a>
                            <a href="https://gnuno-talks.netlify.app/" class="float-right mr-1">
                                <button
                                    class="flex items-center justify-center px-4 py-2 space-x-3 text-gray-600 transition-colors duration-200 transform border rounded-full lg:w-auto hover:bg-gray-100  focus:outline-none">
                                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24" fill="currentColor">
                                        <path
                                            d="M16.949 7.051c.39.389.391 1.022.001 1.413l-8.485 8.486c-.392.391-1.023.391-1.414 0-.39-.39-.39-1.021.001-1.412l8.485-8.488c.39-.39 1.024-.387 1.412.001zm-5.805 10.043c-.164.754-.541 1.486-1.146 2.088l-1.66 1.66c-1.555 1.559-3.986 1.663-5.413.235-1.429-1.428-1.323-3.857.234-5.413l1.661-1.663c.603-.601 1.334-.98 2.087-1.144l1.934-1.934c-1.817-.306-3.829.295-5.313 1.783l-1.662 1.661c-2.342 2.34-2.5 5.978-.354 8.123 2.145 2.146 5.783 1.985 8.123-.354l1.66-1.66c1.486-1.487 2.089-3.496 1.783-5.314l-1.934 1.932zm3.222-15.231l-1.66 1.66c-1.486 1.488-2.089 3.499-1.783 5.317l1.935-1.935c.162-.753.54-1.485 1.146-2.087l1.66-1.66c1.556-1.559 3.984-1.663 5.413-.234 1.429 1.427 1.324 3.857-.233 5.415l-1.66 1.66c-.602.603-1.334.981-2.089 1.145l-1.934 1.934c1.818.306 3.827-.295 5.317-1.783l1.658-1.662c2.34-2.339 2.498-5.976.354-8.121-2.145-2.146-5.78-1.987-8.124.351z" />
                                    </svg>
                                    <span class="font-semibold">Link</span>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="snap-center flex basis-full justify-between px-3">
                    <div
                        class="w-[150rem] max-w-xs lg:max-w-md overflow-hidden rounded-lg shadow-gray-600 hover:shadow-gray-700 shadow-[0_0px_10px_0px_rgba(0,0,0,0.1)] bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out pb-2 flex basis-custom justify-between flex-col">
                        <div class="hover:skew-y-3 duration-300 ease-in-out transition-transform">
                            <%- videoHelper("videos/forounov2.mp4", {alt:"GNUno Talks", height:"230", width: "448"}) %>
                        </div>
                        <div class="container px-3">
                            <h3 class="text-lg font-semibold">ForoUNO v2</h3>
                            <p>A website to management futures talks of this community.</p>
                        </div>
                        <div class="flex items-center justify-center gap-3">
                            <button disabled
                                class="flex items-center justify-center px-4 py-2 space-x-3 text-gray-600 transition-colors duration-200 transform border rounded-full lg:w-auto  bg-gray-300  focus:outline-none float-right mr-1">
                                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="currentColor">
                                    <path
                                        d="M16.949 7.051c.39.389.391 1.022.001 1.413l-8.485 8.486c-.392.391-1.023.391-1.414 0-.39-.39-.39-1.021.001-1.412l8.485-8.488c.39-.39 1.024-.387 1.412.001zm-5.805 10.043c-.164.754-.541 1.486-1.146 2.088l-1.66 1.66c-1.555 1.559-3.986 1.663-5.413.235-1.429-1.428-1.323-3.857.234-5.413l1.661-1.663c.603-.601 1.334-.98 2.087-1.144l1.934-1.934c-1.817-.306-3.829.295-5.313 1.783l-1.662 1.661c-2.342 2.34-2.5 5.978-.354 8.123 2.145 2.146 5.783 1.985 8.123-.354l1.66-1.66c1.486-1.487 2.089-3.496 1.783-5.314l-1.934 1.932zm3.222-15.231l-1.66 1.66c-1.486 1.488-2.089 3.499-1.783 5.317l1.935-1.935c.162-.753.54-1.485 1.146-2.087l1.66-1.66c1.556-1.559 3.984-1.663 5.413-.234 1.429 1.427 1.324 3.857-.233 5.415l-1.66 1.66c-.602.603-1.334.981-2.089 1.145l-1.934 1.934c1.818.306 3.827-.295 5.317-1.783l1.658-1.662c2.34-2.339 2.498-5.976.354-8.121-2.145-2.146-5.78-1.987-8.124.351z" />
                                </svg>
                                <span class="font-semibold">Under development</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>

</style>