@import './pages/index.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    > main{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 98vh;
        width: 100%;
    }
}


#canvas {
    display: block;
    position: absolute;
}
